header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#7C5E99;
    border: 10px;
    border-bottom: 10px solid #000;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1{
    font-family: 'Press Start 2P',sans-serif;
    color: #fff;
    text-shadow: 5px 5px 0 #000;


}

nav {
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: "Fira Code";
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before{
    content: "";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button{                                                                                                                                                                                                                                                                                                                            
   display: inline-block;
   background-color:#F25A70;
   height: 60px;
   line-height: 60px;
   padding-left: 20px;
   padding-right: 20px;
   box-shadow: 5px 5px 0 #000;
   margin-right: 0;
   transition: transform 100ms cubic-bezier(.45,.97,.68,2.48); 

}

#button:hover {
    transform: scale(1.08);
    
}

